.onoff{float:left; position:relative;border:solid 1px #666; height:30px; border-radius:5px; background-color:#FFFFFF;  overflow:hidden; width:200px;cursor:pointer;}
.onoff span{ display:block; height:30px; text-align:center; line-height:30px;background-color:#f1f1f1; white-space:nowrap; float:left; width:auto; position:absolute; top:0px; padding-left:10px;padding-right:10px;}
.onoff span.on{ background-color:#FFCC00}
