<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="target-densitydpi=medium-dpi,  initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<title>{$info.webtitle}</title>
<include file="Public:head" />

</head>
<body>
<include file="Public:header" />
<include file="Public:menu" />
<div class="panel" id="panel">
<div class="mybody">

<!--标题开始-->
<div class="mytitle">
  <div class="con">
    <div class="left"><div class="t">{$webtitle}</div><div class="b"><a href="{$laiyuan}">返回列表</a></div></div><div class="right"><div class="r">{$info.addtime}</div></div>
  </div>
</div>
<!--标题结束-->
<!--主体开始-->
<div class="mycontent paddingtop80" >
<form id="form1" name="form1" method="post" action="{:U('save')}">
<div class="info1">
       <div class="tab"><ol class="tab_ol"><li class="cur">基本信息</li><li>明细</li><li>全部展开</li></ol></div>
	   <div class="tab_page">
	   <ul class="ul_info"><li class="li1">ID：</li><li class="li2">{$info.id}</li></ul>
	   <ul class="ul_info"><li class="li1">订单编号：</li><li class="li2">{$info.orderno}</li></ul>
       <ul class="ul_info"><li class="li1">订单金额：</li><li class="li2">{$info.price}块</li></ul>
	   <ul class="ul_info"><li class="li1">运费：</li><li class="li2">{$info.fare}块</li></ul>
	   <ul class="ul_info"><li class="li1">总金额：</li><li class="li2">{$info.total}块</li></ul>
	   <ul class="ul_info"><li class="li1">提交日期：</li><li class="li2">{$info.addtime}</li></ul>
	   <ul class="ul_info"><li class="li1">结束日期：</li><li class="li2">{$info.endtime}</li></ul>
	   <ul class="ul_info"><li class="li1">支付状态：</li><li class="li2">{$info.status_caption}</li></ul>
	   <ul class="ul_info"><li class="li1">支付方式：</li><li class="li2">{$info.payname}</li></ul>
	   <ul class="ul_info"><li class="li1">第三方编号：</li><li class="li2">{$info.tradeno}</li></ul>
	   <ul class="ul_info"><li class="li1">发货状态：</li><li class="li2">
						<select name="lable" id="lable" title="状态">
						<option value="">请选择</option>
						<foreach name="lablelist" item="row">
						  <option value="{$row.value}">{$row.title}</option>
						</foreach>
						</select>
	   </li></ul>
       <ul class="ul_info"><li class="li1">卖家备注：</li><li class="li2">
	    <textarea type="text"  name="dianjiabeizhu" id="dianjiabeizhu"   class="txt1" >{$info.dianjiabeizhu}</textarea></li></ul>
	   <ul class="ul_info"><li class="li1">买家备注：</li><li class="li2">
	    <textarea type="text"  name="userbeizhu" id="userbeizhu"   class="txt1" >{$info.userbeizhu}</textarea>
	   </li>
      </ul>
        <div class="clear"></div>

	  </div>
	   <div class="tab_page" style="display:none;">
			<table cellspacing="1" cellpadding="10" class="table_detail">
				<thead>
					<tr>
						<th>序号</th>
						<th>名称</th>
                        <th>单价(元)</th>
						<th>数量</th>
						<th>小计</th>
					</tr>
				</thead>
				<tbody style="text-align:center;">
					<Volist name="detail" id="value">
						<tr>
                            <td>{$key+1}</td>
                            <td>{$value.title}</td>
                            <td>{$value.price}</td>
							<td>{$value.num}</td>
							<td>{$value.pricez}</td>
						</tr>
					</volist>
				</tbody>
			</table>
			<div style="background-color:#f5f5f5; padding:5px;">合计：{$item.total}块 数量：{$item.num}件 </div>
	   </div>
    </div>
	
  <div class="info_bts">
    <div class="con">
     <?php 
       if(is_numeric($info[id])){
	 ?>
	 <input type="button" onclick="javascript:window.location='{$laiyuan}';"value="返回列表" class="bt" /><input type="submit" name="btsend" class="btsend" value="更新" /><input id="id" type="hidden" name="id" value="{$info.id}"/><input id="act" type="hidden" name="act" value="update"/> <input type="reset" value="重置" onclick="clearinput()" />
	<?php }else{ ?>
	
	<input type="button" onclick="javascript:window.location='{$laiyuan}';"value="返回列表" class="bt" /> <input type="submit" name="btsend" value="确定" class="btsend" /><input id="act" type="hidden" name="act" value="add"/> <input type="reset" value="重置" onclick="clearinput()" />
      <?php }?>
    </div>
  </div>


</form>
</div>
<!--主体结束-->
</div>
<div class="pagenav">{$show}</div>
<script>
$("#lable").val('{$info.lable}');
</script>
</div>
<include file="Public:foot" />
<include file="Public:footer"/>
</body>
</html>
