<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="chezi" style="background:#ffffff;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$web.title}</title>
<include file="Public:head_exam" />
<style>
.orders_head .logo{ width:50px; height:50px; background-color:#000; overflow:hidden;border-radius:25px;-webkit-border-radius:25px; overflow:hidden; text-align:center;}
.orders_head .logo img{ height:100%;}
.orders_head .total{ text-align:center; font-size:20px; font-weight:normal;}
.orders_head .lablecaption{ color:#FF6600; text-align:center; margin-bottom:10px;}
.orders_head .lise{ color:#009900;}
.orders_head a{ color:#000000;}
</style>
</head>
<body>
<div class="mybody">
<div class="curnav"><a  class="back" href="{$backurl}"><em>d</em></a><center>{$web.title}</center><a class="amenu">≡</a></div>
<div class="mymain" id="mymain">
<div class="padding10">

<div class="orders_head">
       <table style="margin-left:auto; margin-right:auto;"><tr><td><div class="logo">
	   <?php  
	    if($info["dianjiaid"]!=0){
	         echo "<a href=\"".$info[shopurl]."\"><img src=\"".$web[root]."/".$info[logo]."\"/></a>";
		}else{ 
		     echo "<a href=\"".$info[myurl]."\"><img src=\"".$web[root]."/".$info[logo]."\"/></a>";
		}
	  ?>
	   </div></td><td>
	   <?php  
	    if($info["dianjiaid"]!=0){
	         echo "<a href=\"".$info[shopurl]."\">".$user["shopname"]."</a>";
		}else{ 
		     echo "<a href=\"".$info[myurl]."\">".$info["username"]."</a>";
		}
	  ?>
	   </td></tr></table>
      <h1 class="total"><?php if($info["type"]==1){ echo "-";}else{ echo "+";}?>{$info.total}</h1>
	  <div class="lablecaption<?php if($info[lable]==1){ echo " lise";}?>">{$info.lablecaption}</div>
</div>
<form method="post" id="form1" action="__ACTION__" onsubmit="return check();">
          <table style="width:100%; margin-left:auto; margin-right:auto;" cellpadding="1" class="tableinfo3">
			 <?php  
			  if($web["numz"]!=0){
			 ?>
				  <tr onclick="javascript:window.location='__CONTROLLER__/detail/id/{$info.id}';" style="cursor:pointer;">
					 <td class="td1">商品明细：</td>
					 <td class="td2">共{$web.numz}件&nbsp;&gt;</td>
				  </tr>
			<?php }?>
			
				  <tr>
					 <td class="td1">商品名称：</td>
					 <td class="td2">{$info.title}</td>
				  </tr>
				  <tr>
					 <td class="td1">成交日期：</td>
					 <td class="td2">{$info.addtime}</td>
				  </tr>
				  <tr>
					 <td class="td1">订单号：</td>
					 <td class="td2">{$info.orderno}</td>
				  </tr>
		         <notempty name="info.price">
				  <tr>
					 <td class="td1">商品总金额：</td>
					 <td class="td2">{$info.price}</td>
				  </tr>
				 </notempty>  
		         <notempty name="info.address">
				  <tr>
					 <td class="td1">收货地址：</td>
					 <td class="td2">{$info.address}</td>
				  </tr>
				 </notempty>  
	     <?php  
	      if($info["dianjiaid"]!=0){
	     ?>
		         <notempty name="info.payname">
				  <tr>
					 <td class="td1">支付方式：</td>
					 <td class="td2">{$info.payname}</td>
				  </tr>
				 </notempty>  
				 <notempty name="info.kuainame">
				  <tr>
					 <td class="td1">快递名：</td>
					 <td class="td2">{$info.kuainame}</td>
				  </tr>
				  
				  <tr>
					 <td class="td1">快递编号：</td>
					 <td class="td2">{$info.kuaidino}</td>
				  </tr>
				  </notempty> 

                  
		<?php  
		}
	   ?>
				  <tr>
					 <td class="td1">手续费/运费：</td>
					 <td class="td2">{$info.fare}</td>
				  </tr>
				  <tr>
					<td colspan="2" align="center" class="tdop">
					  <input  type="button"  value="返回" name="act" class="bt1" onclick="{$backurl}"/>
					  <input  type="hidden"  value="{$info.id}" name="id"  class="txt"/>
					  <?php 
					   if($info["lable"]==0){
					  ?>
					  <input  type="button"  value="删除" id="btdel" class="bt1"/>
					  <?php }?>
					</td>
				  </tr>
          </table>
</form>
</div>
</div>
</div>
</div>
<include file="Public:footer_exam_index" />
<include file="Public:footer_exam_texiao" />
</body>
</html>
<script>
$("#btdel").click(function(){
  if(confirm("确定要删除？")){
		$.ajax({
		url:conf.app+"/"+conf.module+"/orders/del",
		type:"post",
		data:{id:$("input[name='id']").val()},
		dataType:"text",
		success:function(data){
		   var json=eval("("+data+")");
		   if(!json){
			   myalert("删除失败");
		   }else if(json.status=="error"){
			   myalert(json.msg);
		   }else if(json.status=="success"){
			   myalert(json.msg);
			   window.setTimeout(function(){
				window.location="{$laiyuan}";
			  },2000);
		   }
		}
		})
  }
});
function myalert(str){
  if(layer){
  layer.msg(str,{time:1000});
  }else{
   alert(str);
  }
}
</script>
