<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="chezi" style=" background:none;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$web.title}</title>
<include file="Public:head_exam" />
</head>
<body>
<div class="mybody" style="display:none1;">
<div class="curnav"><a  class="back" href="__APP__"><em>d</em></a><center>{$web.title}</center><a class="amenu">≡</a></div>
<div class="mymain" id="mymain">
<div class="padding10">
<div class="titleinfo1" style="display:none"></div>
               <table class="tablelist" cellspacing="0">
				<thead>
					<tr>
						<th class='td1' style="text-align:center; width:40px;">日期</th>
						<th class='td2' style=" width:55px;">&nbsp;</th>
						<th class='td3'>信息</th>
					</tr>
				</thead>
				<tbody style="text-align:center;">
					<foreach name="list" item="value">
						<tr onclick="javascript:window.location='__CONTROLLER__/info/id/{$value.id}';">
							<td class="td1"><span class="addtime"><span class="year"><?php echo date("Y",$value[time]);?></span><span class="monthday"><?php echo date("m-d",$value[time]);?></span></span></td>
							<td class="td2"><div class="logo"><img src="__ROOT__/{$value.logo}"/></div></td>
							<td class="td3">
							   <div class="rel"><div class="total"><?php if($value[type]==1){ echo "-";} else{echo "+";}?>{$value.total}</div><div class="lable<?php if($value[lable]==1){ echo " lise";}?>">{$value.lablecaption}</div></div>
							   <div class="title">{$value.title}</div>
							</td>
						</tr>
					</foreach>
				</tbody>
             </table>
<div class="pagenav">{$show}</div>
</div>

</div>

</div>
<include file="Public:footer_exam_index" />
<include file="Public:footer_exam_texiao" />
</body>
</html>
