<!DOCTYPE html>
 <html>
 <head>
     <meata charset="UTF-8">
          <title>添加</title>
     </head>
     <body>
          <h1>添加图书</h1>
     <form action=""method="post">
          <p>图书类型<select name="typeid">
               <volist name="list" id="vo">
                    <option value="{$vo.typeid}">{$vo.typename}</option>
               </volist>
          </select>
     </p>
     <p>图书名称:<input type="text"name="bookname"></p>
          <p>作者:<input type="text"name="author"></p>
               <p>出版社:<input type="text"name="pubhouse"></p>
               <p>单价:<input type="text"name="bookprice"></p>
               <p>出版日期:<input type="text"name="pubdate"></p>
               <p><input type="submit" value="注册"></p>
          </form>
     </body>
     </html>
