<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="chezi" style="background:#ffffff;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$web.title}</title>
<include file="Public:head_exam" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/shop.css?1">
<script src="__PUBLIC__/home/func.js"></script>
</head>
<body>
<div class="mybody">
<div class="curnav" id="curnav" style="position:absolute; top:0px; left:0px; z-index:1000"><div><a  class="back" href="{$backurl}"><em>d</em></a><center><a class="aurl" href="__CONTROLLER__/index/">{$web.title}</a></center><a class="amenu">≡</a></div></div>
<div id="pclass" class="pclass"  style="position:absolute; top:45px; left:0px; z-index:1000;">
         <div  class="w800 rel">
			 <div class="inner">
			   <div class="item" data-id="{$row.id}"><a class="aurl" style="color:#009900" href="__CONTROLLER__/productlist/">全部</a></div>
			   <foreach name="pclass" item="row">
			   <div class="item<?php if($web['classid']==$row[id]){echo ' focus';}?>" title="{$web['classid']}" data-id="{$row.id}"><a class="aurl" href="__CONTROLLER__/productlist/classid/{$row.id}">{$row.title}</a></div>
			 </foreach>
			 </div>
		 </div>
</div>

<div class="mymain" style="position:absolute; left:0px; top:96px; width:100%;">
 <div class="w800 inner">
  <div id="plist" class="plist">
   <foreach name="list" item="row">
     <div class="item" data-id="{$row.id}">
	 <a href="__CONTROLLER__/pdetail/djid/{$row.dianjiaid}/id/{$row.id}" class="aurl">
	 <div  class="rel">
	    <div class="left"> 
	    <div class="photo"><img data-src="__ROOT__/{$row.photo}" src="__PUBLIC__/images/logo.gif"/></div>
		</div>
        <div class="right">  
		  	    <div class="title">{$row.title}</div>
		        <div class="price"><i>¥</i><span class="s1">{$row.price}</span><span class="s2">¥{$row.prices}</span></div>
		</div>
	 </div>
	 </a>
	 </div>
   </foreach>
    <empty name="list">
	  <div class="divnull">找不到商品</div>
	</empty>
	<div class="pagenav">{$show}</div>
	<script>
     init_show_img({objs:$("#plist img")});
	</script>
  </div>
</div>
</div>
</div>
<script>
$(window).resize(function(){
    resize_h_scroll({id:"pclass"});
});
resize_h_scroll({id:"pclass"});
show_hide_daohang();

//$.cookie("currentMenuID", "menuID", { path: "/"}); 
//var weburl="__ROOT__";//右键查看网页源码，你会看出这个有值，有关 thinkphp 常量：http://document.thinkphp.cn/manual_3_2.html#const_reference
</script>
</body>
</html>