<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="chezi">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$web.title}</title>
<include file="Public:head_exam" />
</head>
<body>
<div class="mybody_b" style="display:none;">
<div class="curnav"><a  class="back" href="__APP__"><em>d</em></a><center>{$web.title}</center><a class="amenu">≡</a></div>
<div class="mymain" id="mymain">
<div class="padding10">
<div class="titleinfo1">短信找回密码</div>
<form method="post" id="form1" action="__APP__/Home/User/zhaohuimima" onsubmit="return check();">
          <table style="width:100%; margin-left:auto; margin-right:auto;" cellpadding="1" class="tableinfo2">
				  <tr>
					 <td class="td1">手机号：</td>
					 <td class="td2"><input type="text"  value="" class="txt" name="phone" placeholder="请输入手机号" data-type="phone" /></td>
				  </tr>
				  <tr>
					<td colspan="2" align="center" class="tdop">
					<p style="color:#999999">新的密码将会发送到你手机里</p>
					<input type="hidden"  value="sms" name="type" class="txt" />
					<input  type="button"  value="提交" name="act" class="bt1" onclick="check();"/>&nbsp;<input  type="reset"  value="重置" name="bt"  class="bt1"/></td>
				  </tr>
          </table>
</form>
</div>
</div>
</div>
</div>
<include file="Public:footer_exam_index" />
<include file="Public:footer_exam_texiao" />
</body>
</html>


<script>

$(".imgcode").attr("src",conf.app+"/"+conf.module+"/Ajax/getcode?"+(new Date()).getTime());
$(".imgcode").click(function(){
   $(".imgcode").attr("src",conf.app+"/"+conf.module+"/Ajax/getcode?"+(new Date()).getTime());
});
$(".smscode").click(function(){
    var url=conf.app+"/"+conf.module+"/Ajax/getsmscode?"+(new Date()).getTime();
	var bt=$(this);
    $.ajax({
	url:url,
	type:"get",
	dataType:"text",
	success:function(data){
	   				 var dj=1;
					  bt.attr("disabled","disabled");
					  var timedj=window.setInterval(function(){
					        dj++;
					        if(dj<60){
					          bt.val("已发送("+dj+")"); 
							}else{
							  bt.removeAttr("disabled");
							  window.clearInterval(timedj);
							}
					  },1000);
					  
				      window.setTimeout(function(){
					          bt.val("重新发送");  
					  },1000*60);
				      bt.val("已发送"); 

	}
	})
});
//$.cookie("currentMenuID", "menuID", { path: "/"}); 
var weburl="__ROOT__";//右键查看网页源码，你会看出这个有值，有关 thinkphp 常量：http://document.thinkphp.cn/manual_3_2.html#const_reference

function check(){
	var username=$("input[name='username']");
	var code=$("input[name='code']");
	var inputs=$("input.txt");
	var data={};
	for(i=0;i<inputs.length;i++){
	   var input=inputs.eq(i);
	   var placeholder=input.attr("placeholder");
	   var datatype=input.attr("data-type");
	   var databijiao=input.attr("data-bijiao");
	   var databijiaotishi=input.attr("data-bijiao-tishi");
	   if(placeholder!=null){

	       if(datatype!=null){
		      if(datatype=="phone"){
			     if(input.val()==""||input.val().length!=11){
						myalert(input.attr("placeholder"));
						input[0].focus();
						return false;
				 }
			  }
		   }else{
		        if(input.val()==""){
					 myalert(input.attr("placeholder"));
					 input[0].focus();
					 return false;
				 }
		   }
		   
	       if(databijiao!=null){
		     var input1=$("input[name='"+databijiao+"']");
		      if(input.val()!=input1.val()){
			     myalert(databijiaotishi);
			     input[0].focus();
			     return false;
			  }
		   }
	   }
	   data[input.attr("name")]=input.val();
	}
	var action=$("#form1").attr("action");
	$.ajax({
	url:action,
	type:"post",
	data:data,
	dataType:"text",
	success:function(data){
	   var json=eval("("+data+")");
	   if(json.status=="error"){
	       myalert(json.msg);
	   }else if(json.status=="success"){
	       myalert(json.msg);
		  // window.setTimeout(function(){
		   // window.location=conf.app+"/"+conf.module+"/index";
		  //},2000);
	   }
	}
	})
	return false;
}
function myalert(str){
  if(layer){
  layer.msg(str,{time:1000});
  }else{
   alert(str);
  }
}
</script>
