 <script>
 var data='{$data}';
 if(data!=""){
	 gets=eval("("+data+")");
	 if(gets.classno){
		 $("#classno").val(gets.classno);
	 }
	 if(gets.type){
		 $("#type").val(gets.type);
	 }
	 if(gets.name){
		 $("#name").val(gets.name);
	 }
	 if(gets.root){
		 $("#root").val(gets.root);
	 }
	 if(gets.state){
		 $("#state").val(gets.state);
	 }
	 if(gets.fatherno){
		 $("#fatherno").val(gets.fatherno);
	 }
 }
 $("input[name='ckall']").click(function(){
	 if($(this)[0].checked){
		 $("input[name='ck']").attr("checked",'true');
	 }else{
		 $("input[name='ck']").removeAttr("checked");
	 }
 });
 </script>