<div class="menu" id="menu" style="left:-300px;">
 <div id="menucon" class="menu_con">
 <ul class="ul_menu">
<if condition="$kaoti_setting.biaomoshi eq '1'">
  <li class="li_a">
   <div class="tit">考题<span class="s">管理</span></div>
      <ul class="ul_b">
	    <li><a href="{:U('Exam/lists')}"><i class='ifa fa-bus'></i>考题列表</a></li>
	    <li><a href="{:U('Exam/info')}"><i class='ifa ifa fa-tags'></i>添加考题</a></li>
	</ul>
  </li>
</if>
<if condition="$kaoti_setting.biaomoshi eq '2'">
<foreach name="configex" item="row">
  <li class="li_a">
   <div class="tit">{$row.lang}<span class="s">管理</span></div>
      <ul class="ul_b">
	    <li><a href="{:U('Exam1/lists',array('table'=>$row[objtable]))}"><i class='ifa fa-bus'></i>考题列表</a></li>
	    <li><a href="{:U('Exam1/info',array('table'=>$row[objtable]))}"><i class='ifa ifa fa-tags'></i>添加考题</a></li>
	</ul>
  </li>
</foreach>
</if>
  <li class="li_a">
   <div class="tit">用户<span class="s">管理</span></div>
      <ul class="ul_b">
	    <li><a href="{:U('user/lists')}"><i class='ifa fa-user-circle-o'></i>用户列表</a></li>
	    <li><a href="{:U('user/info')}"><i class='ifa ifa fa-user-circle-o'></i>添加用户</a></li>
	</ul>
  </li>
  
  <li class="li_a">
   <div class="tit">授权<span class="s">管理</span></div>
      <ul class="ul_b">
	    <li><a href="{:U('shouquan/lists')}"><i class='ifa fa-file-text-o'></i>授权列表</a></li>
	    <li><a href="{:U('shouquan/info')}"><i class='ifa ifa fa-tags'></i>添加授权</a></li>
	</ul>
  </li>
  <li class="li_a">
   <div class="tit">我的<span class="s">资料</span></div>
      <ul class="ul_b">
	    <li><a href="{:U('user/only')}"><i class='ifa fa-user-circle-o'></i>基本信息</a></li>
		<li><a href="{:U('user/pwd')}"><i class='ifa fa-unlock-alt'></i>修改密码</a></li>
		<li><a href="{:U('user/login')}"><i class='ifa fa-sign-in'></i>退出系统</a></li>
	</ul>
  </li>
  <!--<li class="li_a">-->
   <!--<div class="tit">系统<span class="s">配置</span></div>-->
      <!--<ul class="ul_b">-->
	    <!--<li><a href="{:U('config/index')}"><i class='ifa fa-unlock-alt'></i>基础信息</a></li>-->
		<!--<li><a href="{:U('setting/kaoti')}"><i class='ifa fa-unlock-alt'></i>考题系统</a></li>-->
		<!--<if condition="$kaoti_setting.biaomoshi eq '2'">-->
		<!--<li><a href="{:U('configex/index')}"><i class='ifa fa-unlock-alt'></i>考题语言</a></li>-->
		<!--</if>-->
	<!--</ul>-->
  <!--</li>-->
 </ul>
 <h1 style="font-size:15px;margin-left:20px;" class="h1_close"><a href="{:U('user/login')}" style=" text-decoration:none;  color:#F60;">退出</a></h1>
 </div>
</div>