<div class="menu" id="menu" style="left:-300px;">
 <div id="menucon" class="menu_con">
 <ul class="ul_menu">
  <li class="li_a">
   <div class="tit">商品<span class="s">管理</span></div>
      <ul class="ul_b">
	    <li><a href="{:U('product/lists')}"><i class='ifa fa-bus'></i>商品列表</a></li>
	    <li><a href="{:U('product/info')}"><i class='ifa ifa fa-tags'></i>添加商品</a></li>
		<li><a href="{:U('product/piliang')}"><i class='ifa fa-random'></i>批量上传</a></li>
	</ul>
  </li>
<if condition="$kaoti_setting.biaomoshi eq '1'">
  <li class="li_a">
   <div class="tit">考题<span class="s">管理</span></div>
      <ul class="ul_b">
	    <li><a href="{:U('Exam/lists')}"><i class='ifa fa-bus'></i>考题列表</a></li>
	    <li><a href="{:U('Exam/info')}"><i class='ifa ifa fa-tags'></i>添加考题</a></li>
		<li><a href="{:U('Exam/daoru')}"><i class='ifa ifa fa-tags'></i>导入考题</a></li>
	</ul>
  </li>
</if>
<if condition="$kaoti_setting.biaomoshi eq '2'">
<foreach name="configex" item="row">
  <li class="li_a">
   <div class="tit">{$row.lang}<span class="s">管理</span></div>
      <ul class="ul_b">
	    <li><a href="{:U('Exam1/lists',array('table'=>$row[objtable]))}"><i class='ifa fa-bus'></i>考题列表</a></li>
	    <li><a href="{:U('Exam1/info',array('table'=>$row[objtable]))}"><i class='ifa ifa fa-tags'></i>添加考题</a></li>
		<li><a href="{:U('Exam1/daoru',array('table'=>$row[objtable]))}"><i class='ifa ifa fa-tags'></i>导入考题</a></li>
	</ul>
  </li>
</foreach>
</if>
  <li class="li_a">
   <div class="tit">用户<span class="s">管理</span></div>
      <ul class="ul_b">
	    <li><a href="{:U('user/lists')}"><i class='ifa fa-user-circle-o'></i>用户列表</a></li>
	    <li><a href="{:U('user/info')}"><i class='ifa ifa fa-user-circle-o'></i>添加用户</a></li>
		<li><a href="{:U('usergroup/lists')}"><i class='ifa fa-random'></i>用户组</a></li>
	</ul>
  </li>
  
  <li class="li_a">
   <div class="tit">文章<span class="s">管理</span></div>
      <ul class="ul_b">
	    <li><a href="{:U('content/lists')}"><i class='ifa fa-file-text-o'></i>文章列表</a></li>
	    <li><a href="{:U('content/info')}"><i class='ifa ifa fa-tags'></i>添加文章</a></li>
		<li><a href="{:U('class/lists')}"><i class='ifa fa-tags'></i>文章分类</a></li>
	</ul>
  </li>
  
  <li class="li_a">
   <div class="tit">授权<span class="s">管理</span></div>
      <ul class="ul_b">
	    <li><a href="{:U('shouquan/lists')}"><i class='ifa fa-file-text-o'></i>授权列表</a></li>
	    <li><a href="{:U('shouquan/info')}"><i class='ifa ifa fa-tags'></i>添加授权</a></li>
	</ul>
  </li>
  <li class="li_a">
   <div class="tit">交易<span class="s">管理</span></div>
      <ul class="ul_b">
	    <li><a href="{:U('paylog/lists')}"><i class='ifa fa-bus'></i>交易记录</a></li>
	    <li><a href="{:U('orders/lists')}"><i class='ifa fa-bus'></i>订单记录</a></li>
	</ul>
  </li>
  <li class="li_a">
   <div class="tit">综合<span class="s">管理</span></div>
      <ul class="ul_b">
	    <li><a href="{:U('link/lists')}"><i class='ifa fa-bus'></i>综合列表</a></li>
		<li><a href="{:U('link/info')}"><i class='ifa ifa fa-tags'></i>添加综合</a></li>
	</ul>
  </li>
  <li class="li_a">
   <div class="tit">我的<span class="s">资料</span></div>
      <ul class="ul_b">
	    <li><a href="{:U('user/only')}"><i class='ifa fa-user-circle-o'></i>基本信息</a></li>
		<li><a href="{:U('user/pwd')}"><i class='ifa fa-unlock-alt'></i>修改密码</a></li>
		<li><a href="{:U('user/login')}"><i class='ifa fa-sign-in'></i>退出系统</a></li>
	</ul>
  </li>
  <li class="li_a">
   <div class="tit">留言<span class="s">管理</span></div>
      <ul class="ul_b">
	    <li><a href="{:U('message/lists')}"><i class='ifa fa-user-circle-o'></i>留言列表</a></li>
		<li><a href="{:U('message/pwd')}"><i class='ifa fa-unlock-alt'></i>修改密码</a></li>
	</ul>
  </li>
  <li class="li_a">
   <div class="tit">系统<span class="s">配置</span></div>
      <ul class="ul_b">
	    <li><a href="{:U('config/index')}"><i class='ifa fa-unlock-alt'></i>基础信息</a></li>
		<li><a href="{:U('setting/kaoti')}"><i class='ifa fa-unlock-alt'></i>考题系统</a></li>
	    <li><a href="{:U('class/lists')}"><i class='ifa ifa fa-tags'></i>分类列表</a></li>
		<li><a href="{:U('setting/reg')}"><i class='ifa fa-unlock-alt'></i>会员注册</a></li>
		<li><a href="{:U('setting/pay')}"><i class='ifa fa-unlock-alt'></i>支付接口</a></li>
		<li><a href="{:U('setting/weixin_api')}"><i class='ifa fa-unlock-alt'></i>微信公众号</a></li>
		<li><a href="{:U('setting/email')}"><i class='ifa fa-unlock-alt'></i>邮箱配置</a></li>
		<li><a href="{:U('setting/sms')}"><i class='ifa fa-unlock-alt'></i>短信配置</a></li>
		<li><a href="{:U('setting/point')}"><i class='ifa fa-unlock-alt'></i>积分兑换</a></li>
		<li><a href="{:U('setting/kefu')}"><i class='ifa fa-unlock-alt'></i>客服号码</a></li>
		<if condition="$kaoti_setting.biaomoshi eq '2'">
		<li><a href="{:U('configex/index')}"><i class='ifa fa-unlock-alt'></i>考题语言</a></li>
		</if>
	</ul>
  </li>
 </ul>
 <h1 style="font-size:15px;margin-left:20px;" class="h1_close"><a href="{:U('user/login')}" style=" text-decoration:none;  color:#F60;">退出</a></h1>
 </div>
</div>