<div class="header">
  <div class="header-line">
    <table width="1008" border="0" align="center" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td width="650" align="left" valign="top" class="STYLE1">欢迎光临，<a href="__ROOT__/">{$web.company}</a> ！</td>
		<td width="277" align="right" valign="top" class="STYLE1">咨询热线： <span class="tel">{$web.phone}</span></td>
		<td width="80" align="right" valign="top" class="STYLE1"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr>
            <td width="100%" align="right" valign="top"><a onclick="AddFavorite(window.location,document.title)" href="javascript:void(0)">加入收藏</a></td>
            
          </tr>
        </tbody></table></td>
      </tr>
    </tbody></table>
  </div>
  <div class="header-nav" style="height:60px; position:relative;">
   <div class="logo"><a href="__ROOT__/"><img src="{$web.logo}" width="180"  border="0"></a></div>
	<div id="menu"  class="menu1" style="width:100%; position:absolute; right:0px; top:0px;">
          <ul id="nav" style="float:right; white-space:nowrap;">
		  <foreach name="navs" item="val">
            <li class="mainlevel" id="mainlevel_0{$key}" style="width:auto; white-space:nowrap; padding-left:10px; padding-right:10px;"><a href="{$val.href}" target="{$val.target}">{$val.title}</a></li>
          </foreach>
          </ul>
        </div>
  </div>
</div>
<div style="height:148px;">&nbsp;</div>