<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="chezi">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$web.title}</title>
<include file="Public:head_exam" />
</head>
<body>
<div class="mybody_b" style="display:none;">
<div class="curnav"><a  class="back" href="__APP__"><em>d</em></a><center>{$web.title}</center><a class="amenu">≡</a></div>
<div class="mymain" id="mymain">
<div class="padding10">
<div class="titleinfo1">明细</div>
<form method="post" id="form1" action="__SELF__">
          <table style="width:100%; margin-left:auto; margin-right:auto;" cellpadding="1" class="tableinfo2">
				  <tr>
					 <td class="td1">商品名称：</td>
					 <td class="td2">{$info.title}</td>
				  </tr>
				  <tr>
					 <td class="td1">商品价格：</td>
					 <td class="td2">{$info.price}块</td>
				  </tr>
				  <tr>
					<td colspan="2" align="center" class="tdop">
					<input  type="submit"  value="提交" name="act" class="bt1"/>
					 <input type="hidden" name="classid" value="{$info.id}" /></td>
				  </tr>
          </table>
</form>
</div>
</div>

</div>
<include file="Public:footer_exam_index" />
<include file="Public:footer_exam_texiao" />
</body>
</html>
