<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="chezi">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$web.title}</title>
<include file="Public:head_exam" />
</head>
<body>
<div class="mybody">
<div class="curnav"><a  class="back" href="{$laiyuan}"><em>d</em></a><center>{$web.title}</center><a class="amenu">≡</a></div>
<div class="mymain" >
<div class="padding10">
<div class="titleinfo1"><h1>费用{$info.total}块</h1></div>
<form method="post" id="form1" action="__ACTION__" onsubmit="return check();">
          <table style="width:100%; margin-left:auto; margin-right:auto;" cellpadding="1" class="tableinfo3">
				  <tr>
					 <td class="td1">商品名称：</td>
					 <td class="td2">{$info.title}</td>
				  </tr>
				  <tr>
					 <td class="td1">成交日期：</td>
					 <td class="td2">{$info.addtime}</td>
				  </tr>
				  <tr>
					 <td class="td1">订单号：</td>
					 <td class="td2">{$info.orderno}</td>
				  </tr>
				  <tr>
					<td colspan="2" align="center" class="tdop">
					  <input  type="button"  value="返回" name="act" class="bt1" onclick="{$backurl}"/>
					</td>
				  </tr>
          </table>
</form>
</div>
</div>
</div>
</div>
<include file="Public:footer_exam_index" />
<include file="Public:footer_exam_texiao" />
</body>
</html>
<script>

function myalert(str){
  if(layer){
  layer.msg(str,{time:1000});
  }else{
   alert(str);
  }
}
</script>
