@charset "utf-8";
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

		.mui-btn {
			-webkit-animation-duration: .0001s;
			animation-duration: .0001s;
			-webkit-animation-name: mui-node-inserted;
			animation-name: mui-node-inserted;
			font-weight: 500;
			font-size: 14px;
			line-height: 18px;
			color: rgba(0,0,0,.87);
			text-transform: uppercase;
			color: rgba(0,0,0,.87);
			background-color: #FFF;
			transition: all .2s ease-in-out;
			display: inline-block;
			height: 36px;
			padding: 0 26px;
			margin-top: 6px;
			margin-bottom: 6px;
			border: none;
			border-radius: 2px;
			cursor: pointer;
			-ms-touch-action: manipulation;
			touch-action: manipulation;
			background-image: none;
			text-align: center;
			line-height: 36px;
			vertical-align: middle;
			white-space: nowrap;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			font-size: 14px;
			position: relative;
			overflow: hidden
		}
		.mui-btn{
			border:0px;
			position: relative;
			padding: 0;
			width: 55px;
			height: 55px;
			line-height: 55px;
			border-radius: 50%;
			z-index: 1;
			box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2); cursor:pointer;
			background-color: #FFF;
		}
		.mui-btn-cancleBtn{
			color: #FFF;
			color: rgba(0,0,0,.87);
		}
		.mui-btn-confirmBtn{
			color: #FFF;
			background-color: #2196F3
		}
		.mui-btn-confirmBtn:active,.mui-btn-confirmBtn:focus,.mui-btn-confirmBtn:hover{
			color: #FFF;
			background-color: #39a1f4
		}
