<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$info[name]}--{$web[name]}</title>
<include file="Public:head" />
<meta name="keywords" content="{$web[key]}"/>
<meta name="description" content="{$web[des]}"/>

</head>
<body>
<div class="min_main">
<include file="Public:header" />
<div class="w1008 mcontent">
   <div class="content_left">
          <div class="inner">
          <h3 class="menu-title">关于我们</h3>
          <ul class="menu-ul">
	        <foreach name="menu_about" item="vo">
		    <li><i class="ico-jt"></i><a href="<if condition="$vo[url] eq '' ">{:U('about/info',array(id=>$vo[id]))}<else/>{$vo[url]}</if>">{$vo[title]}</a></li>
		    </foreach>
	     </ul>
		 </div>
   </div>
    <div class="content_right"> 
	  <div class="content_nav"><span class="t">{$info[title]}</span>
   <span class="n" style="float:right">你当前的位置：
   <a href="__ROOT__/" target="_blank">{$web.company}</a><span class="ge">&gt;</span>

    <a href="{:U('about/info',array(id=>$info[id]))}">{$info[title]}</a>
   </span>
   </div>
    <div class="content_info"><div class="about_info">{$info.content}</div></div>
	</div>

  
</div>
<div class="clear"></div>
<script>
$(".mybody_a").css({height:$(window).height()+"px",width:$(window).width()+"px"});
$(".menu li").each(function(){
	var a=$(this).find("a");
	a.attr("myhref",a.attr("href"));
	a.removeAttr("href");
	$(this).click(function(){
		var a1=$(this).find("a");
		var myhref=a1.attr("myhref");
		a1.addClass("hover");
		$(this).find(".bg").animate({"height":"100%"},function(){
			//$(".mybody_a").addClass("addscale001");
			window.setTimeout(function(){
				window.location=myhref;
			},1000);
			//
			});
	});
	
})
//http://www.5203.cn/
//css3按钮动画特效大全鼠标滑过按钮动画特效 http://www.17sucai.com/demoshow/1435.html
//thinkphp教程 http://www.vso8.com/Play/id/bsIYcrWT33
</script>
<include file="Public:footer" />
</div>
</body>
</html>
