<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$web[name]}</title>
<include file="Public:head" />
<meta name="keywords" content="{$web[key]}"/>
<meta name="description" content="{$web[des]}"/>

</head>
<body>
<div class="min_main">
<include file="Public:header" />

  <!--头部开始-->
    <div id="fullSlide" class="banner">
		<div class="bd">
		<ul>
		<foreach name="banner1" item="value">
		<li style="BACKGROUND: url(__ROOT__/{$value.photo_big}) no-repeat center top"><a href="{$value.href}" target="_blank"></a></li>
		</foreach>
		</ul>
		</div>
		<div class="hd"><ul></ul></div>
</div>
<div style="background-image:url(__PUBLIC__/qiyue/images/5.jpg); height:114px; background-position: center top; background-repeat:no-repeat;"></div>
<script>
      jQuery("#fullSlide").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        effect: "fold",
        autoPlay: true,
        autoPage: true,
        trigger: "mouseover"
      });
    </script>
<!--头部结束-->

</div>
<div ><div style="margin-left:auto; margin-right:auto;width:1008px;"><img src='__PUBLIC__/qiyue/images/6.jpg'/></div></div>
<div class="w1008 mcontent">
<!--内容start-->
  <div class="index_news floatl">
    <div class="title"><span class="l"><a href="" class="tit">新闻动态</a></span><span class="r"><a href="{:U('news/lists',array('classid'=>11))}" class="more">更多&gt;&gt;</a></span></div>
	<div class="con">
	  <ul class="ul_t_time">
	     <foreach name="new_xwdt5" item="vo">
	       <li><div class="l"><a href="<if condition="$vo[url] eq '' ">{:U('news/info',array('id'=>$vo[id]))}<else/>{$vo[url]}</if>">{$vo.title}</a></div><div class="r">{$vo.addtime|substr=0,10}</div></li>
		</foreach>
	  </ul>
	</div>
  </div>
  <div class="index_news floatr" >
     <div class="title"><span class="l"><a href="" class="tit">媒体关注</a></span><span class="r"><a href="{:U('news/lists',array('classid'=>37))}" class="more">更多&gt;&gt;</a></span></div>
	 <div class="con">
	  <ul class="ul_t_time">
	     <foreach name="new_mtgz5" item="vo">
	      <li><div class="l"><a href="<if condition="$vo[url] eq '' ">{:U('news/info',array('id'=>$vo[id]))}<else/>{$vo[url]}</if>">{$vo.title}</a></div><div class="r">{$vo.addtime|substr=0,10}</div></li>
		</foreach>
	  </ul>
	 </div>
  </div>
  <div class="index_contact">
   <div class="title"><span class="l"><a href="" class="tit">联系方式 CONTACT</a></span><span class="r"><a href="{:U('about/index')}" class="more">更多&gt;&gt;</a></span></div>
   <div class="con">{$aboutinfo.content}</div>
  </div>
<!-- 内容end-->
</div>
<div class="clear"></div>
<script>
$(".mybody_a").css({height:$(window).height()+"px",width:$(window).width()+"px"});
$(".menu li").each(function(){
	var a=$(this).find("a");
	a.attr("myhref",a.attr("href"));
	a.removeAttr("href");
	$(this).click(function(){
		var a1=$(this).find("a");
		var myhref=a1.attr("myhref");
		a1.addClass("hover");
		$(this).find(".bg").animate({"height":"100%"},function(){
			//$(".mybody_a").addClass("addscale001");
			window.setTimeout(function(){
				window.location=myhref;
			},1000);
			//
			});
	});
	
})
//http://www.5203.cn/
//css3按钮动画特效大全鼠标滑过按钮动画特效 http://www.17sucai.com/demoshow/1435.html
//thinkphp教程 http://www.vso8.com/Play/id/bsIYcrWT33
</script>
<include file="Public:footer" />
</div>
</body>
</html>
