<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="target-densitydpi=medium-dpi,  initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<title>{$webtitle}</title>
<include file="Public:head" />
</head>
<body>
<include file="Public:header" />
<include file="Public:menu" />
<div class="panel" id="panel">
<div class="mybody">

<!--标题开始-->
<div class="mytitle">
  <div class="con">
    <div class="left"><div class="t">{$mytitle}</div><div class="b"><a href="{$laiyuan}">返回列表</a></div></div><div class="right"></div>
  </div>
</div>
<!--标题结束-->
<!--主体开始-->
<div class="mycontent paddingtop80" >
<form id="form1" name="form1" method="post" action="{:U('product/save')}" onsubmit="return check();">
<div class="info1">

       <div class="tab"><ol class="tab_ol"><li class="cur">基本信息</li><li>其它信息</li><li>全部展开</li></ol></div>
	   <div class="tab_page">
	   <ul class="ul_info"><li class="li1">产品分类：</li><li class="li2"><input type="hidden"   name="classno" id="classno"   class="txt1" value="{$info.classno}"/></li></ul>
       <ul class="ul_info"><li class="li1">产品名称：</li><li class="li2"><input type="text"   name="title" id="title"   class="txt1" value="{$info.title}"/></li></ul>
	   <ul class="ul_info"><li class="li1">产品价格：</li><li class="li2"><input type="text"   name="price" id="price"   class="txt1" value="{$info.price}"/></li></ul>
	   <ul class="ul_info"><li class="li1">市场价格：</li><li class="li2"><input type="text"   name="prices" id="prices"   class="txt1" value="{$info.prices}"/></li></ul>
	   <ul class="ul_info"><li class="li1">标记：</li><li class="li2">
	   <script>CreateRadio("lable","{$info.lable}","<?php echo $GLOBALS['g_product']['lable']?>")</script></li></ul>
	   <ul class="ul_info">
	   <li class="li1">状态：</li>
	   <li class="li2">
		<select name="state" id="state">
		<foreach name="statelist" item="row">
		<option value="{$row.value}">{$row.name}</option>
		</foreach>
		</select>
		</li>
       </ul>
	   
	   <ul class="ul_info"><li class="li1">描述：</li><li class="li2">
	   <script id="content" name="content" type="text/plain" style="width:100%;height:500px;">{$info.content}</script>
	   <script> var ue = UE.getEditor('content');</script> </li></ul>
	   <ul class="ul_info" style=" overflow:hidden;"><li class="li1">文章图片：</li><li class="li2" style=" overflow:hidden;">
				<p><textarea  id="photos" name="photos" class="txt1" style="display:none;">{$info.photos}</textarea></p>
				<div id="photos_weizhi" style=" text-align:center; background-color:#3399FF; height:50px; width:100px; color:#fff; line-height:50px; text-align:center; float:left; margin-right:10px; cursor:pointer;">上传图片</div>
				<div id="photos_panel" style="height:auto; width:auto; float:left; overflow:hidden;"></div>
				<span  id="num_maxnum" style="line-height:50px; font-size:20px;"></span>
	   </li>
      </ul>

	     <ul class="ul_info" id="ul_qturl" style="display:none;">
		     <li class="li1">前台url：</li>
		     <li class="li2">
						<a href="__APP__?m=Qiyue&c=News&a=info&id={$info.id}" target="_blank">__APP__?m=Qiyue&c=News&a=info&id={$info.id}</a>
						<br/>
						<a href="__APP__?m=Qiyue&c=about&a=info&id={$info.id}" target="_blank">__APP__?m=Qiyue&c=about&a=info&id={$info.id}</a>
			 </li>
		 </ul>
		 <script> var id="{$info.id}";if(id!=""){$("#ul_qturl").show();}</script>
		 <div class="clear"></div>
         </div>
		 <div class="tab_page" style="display:none;">
		    <ul class="ul_info"><li class="li1">店家：</li><li class="li2">{$info.shopname}<input type="text"  name="dianjiaid" id="dianjiaid"   class="txt1" value="{$info.dianjiaid}"/></li></ul>
		    <ul class="ul_info"><li class="li1">排序：</li><li class="li2"><input type="text"  name="sort" id="sort"   class="txt1" value="{$info.sort}"/></li></ul>
		    <ul class="ul_info"><li class="li1">关键词：</li><li class="li2"><textarea type="text"  name="key" id="key"   class="txt1" >{$info.key}</textarea></li></ul>
		    <ul class="ul_info"><li class="li1">简要：</li><li class="li2"><textarea type="text"  name="des" id="des"   class="txt1" >{$info.des}</textarea></li></ul>
			<ul class="ul_info"><li class="li1">浏览量：</li><li class="li2"><input type="text"  name="see_num" id="see_num"   class="txt1" value="{$info.see_num}"/></li></ul>
			<ul class="ul_info"><li class="li1">参数选项：</li><li class="li2">
                 <div id="canshuoption1" class="xuanxiang" style="overflow:hidden; overflow:hidden;"></div>
			</li>
			</ul>
			<ul class="ul_info"><li class="li1">价格选项：</li><li class="li2">
                 <div id="priceoption1" class="xuanxiang"></div>
			</li>
			</ul>
<div class="clear"></div>
		 </div>
	  
    </div>
	
  <div class="info_bts">
    <div class="con">
     <?php 
       if(is_numeric($info[id])){
	 ?>
	 <input type="button" onclick="javascript:window.location='{$laiyuan}';"value="返回列表" class="bt" /><input type="submit" name="btsend" class="btsend" value="更新" /><input id="id" type="hidden" name="id" value="{$info.id}"/><input id="act" type="hidden" name="act" value="update"/> <input type="reset" value="重置" onclick="clearinput()" />
	<?php }else{ ?>
	
	<input type="button" onclick="javascript:window.location='{$laiyuan}';"value="返回列表" class="bt" /> <input type="submit" name="btsend" value="确定" class="btsend" /><input id="act" type="hidden" name="act" value="add"/> <input type="reset" value="重置" onclick="clearinput()" />
      <?php }?>
    </div>
  </div>


</form>
</div>
<!--主体结束-->
</div>
<div class="pagenav">{$show}</div>
<script>
ClassOption().init({url:"{:U('class/classoption')}","id":"classno","fatherno":"<?php echo $GLOBALS['g_product']['classno']?>","classno":"<?php echo $info['classno']?>"});
</script>

<script src="__PUBLIC__/uploadhtml5e/js/hcsy.js?3"></script>
<script src="__PUBLIC__/uploadhtml5e/js/hcfile.config-0.3.js?2"></script>
<script src="__PUBLIC__/uploadhtml5e/js/hcfile-0.3.js?3"></script>
<link href="__PUBLIC__/uploadhtml5e/js/hcfile03.css" rel="stylesheet" type="text/css">
<script>

var priceoption_json='{$info.priceoption}';
var canshuoption_json='{$info.canshuoption}';

xuanxiang().init({parentid:"priceoption1",name:"priceoption",fields:[{"title":"规格","field":"title"},{"title":"价格","field":"price",type:"int"}],values:priceoption_json});
xuanxiang().init({parentid:"canshuoption1",name:"canshuoption",fields:[{"title":"参数名","field":"title"},{"title":"参数值","field":"value",type:"text"}],values:canshuoption_json});
</script>
<script>

  hcfile().Init({
		  url:"__PUBLIC__/uploadhtml5e/include/php/ajax.php",
		  maxnum:10,//只能上传N张
		  type:"img",//yinpin:仅上传音频文件,shipin:仅上传视频文件,img:仅上传图片,不填或all表示全部
		  input_id:"photos",//存多张图片路径的input的id
		  weizhi_id:"photos_weizhi",//选择按钮位置对像id
		  panel_id:"photos_panel",//图片文件显示对象id
		  input_fengmian_id:'',//存封面的图片路径input对象id
		  bgsrc:"",//按钮图片
		  img_fdsize:1024*10,//每段图片的大小，最好不要超过1M
		  ischongxuan:0,//1显示重选按钮
		  drop_to_id:"drop_div",//托入有效区域对象id,如填写成document则将整个网页做为有效区域
		  send_id:"send",//确定上传按钮位置对像id,不填写或填写auto则自动上传
		  item_class:"myitem_small", //样式 可以不填写，不填写为显示图片
		  select_num_id:"select_num", //可以不填写，显示当前要上传的文件个数的对象id
		  success_num_id:"success_num", //可以不填写，显示当前要已上传的文件总个数的对象id
		  max_num_id:"max_num", //可以不填写，显示允许上传的个数
		  siteurl_file:"__ROOT__/",
		  ico_path:"__PUBLIC__/uploadhtml5e/images/",
		  down_url:"__PUBLIC__/uploadhtml5e/include/php/down.php",//可以不填写，下载的
		  bt_del_text:"删除",
		  upload_show:{date:0,size:0,name:0,bar:1,baifenbi:1,del:0,bg:1},//上传过程中要显示的元素,1:显示,0不显示 date(日期) size(大小) name(标题) bar(进度条) baifenbi(进度条) del(删除按钮)
		  success_show:{date:0,size:0,name:1,bar:0,baifenbi:0,del:1,bg:0},//上传完后要显示的元素,1:显示,0不显
		  success:function(op){
			  var obj=document.getElementById("num_maxnum");
			  if(op.num>0){
			   obj.innerHTML=" "+op.num+"/"+op.maxnum;
			  }else{
			  obj.innerHTML="";
			  }
		  }
 });

</script>
</div>
<script>
$("#state").val('{$info.state}');

function check(){
  var name=$("#name");
  var price=$("#price");
  var prices=$("#prices");
   var id=$("#id");
  if(name.val()==""){
	 alert("请输入名称");
	 name.focus();
	 return false;
  }
  if(price.val()==""){
     if(price.val()==""){
	  alert("请输入价格");
	  price.focus();
	  return false;
	 }
  }
}
</script>
<include file="Public:foot" />
<include file="Public:footer"/>
</body>
</html>

