<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="target-densitydpi=medium-dpi,  initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<title>{$info.webtitle}</title>
<include file="Public:head" />
</head>
<body>
<include file="Public:header" />
<include file="Public:menu" />
<div class="panel" id="panel">
<div class="mybody">

<!--标题开始-->
<div class="mytitle">
  <div class="con">
    <div class="left"><div class="t">{$webtitle}</div><div class="b"><a href="{$laiyuan}">返回列表</a></div></div><div class="right"></div>
  </div>
</div>
<!--标题结束-->
<!--主体开始-->
<div class="mycontent paddingtop80" >
<form id="form1" name="form1" method="post" action="{:U('save')}" onsubmit="return check();">
<div class="info1">

       <div class="tab"><ol class="tab_ol"><li class="cur">基本信息</li><li>其它信息</li><li>全部展开</li></ol></div>
	   <div class="tab_page">
	   <ul class="ul_info"><li class="li1">用户名：</li><li class="li2"><input type="text"   name="username" id="username"   class="txt1" value="{$info.username}"/></li></ul>
       <ul class="ul_info"><li class="li1">姓名：</li><li class="li2"><input type="text"   name="contact" id="contact"   class="txt1" value="{$info.contact}"/></li></ul>
       <ul class="ul_info"><li class="li1">手机号码：</li><li class="li2"><input type="text"   name="phone" id="phone"   class="txt1" value="{$info.phone}"/></li></ul>
	   <ul class="ul_info"><li class="li1">邮箱：</li><li class="li2"><input type="text"   name="email" id="email"   class="txt1" value="{$info.email}"/></li></ul>
	   <ul class="ul_info ul_dianming" style="display:none;"><li class="li1">店名：</li><li class="li2"><input type="text"   name="shopname" id="shopname"   class="txt1" value="{$info.shopname}"/></li></ul>
	   <ul class="ul_info">
	   <li class="li1">级别：</li>
	   <li class="li2">
			<select name="root" id="root">
			<foreach name="rootlist" item="row">
			<option value="{$row.value}">{$row.name}</option>
			</foreach>
			</select>
		</li>
       </ul>
	   <ul class="ul_info">
	   <li class="li1">状态：</li>
	   <li class="li2">
			<select name="state" id="state">
			<foreach name="statelist" item="row">
			<option value="{$row.value}">{$row.name}</option>
			</foreach>
			</select>
		</li>
       </ul>
	   <ul class="ul_info"><li class="li1">图片：</li><li class="li2"><input type="hidden" name="photo" id="photo"  value="{$info.photo}"/><iframe src="__PUBLIC__/upload_20150420/upload/php/img_iframe.php?panel_id=my_show&input_only_id=photo&input_more_id=ImageList&maxnum=10" scrolling="no" frameborder="0" height="80" width="80" style="margin:0px;"></iframe></li></ul>

	     <ul class="ul_info" id="ul_qturl" style="display:none;">
		     <li class="li1">前台url：</li>
		     <li class="li2">
						<a href="__APP__?m=Qiyue&c=News&a=info&id={$info.id}" target="_blank">__APP__?m=Qiyue&c=News&a=info&id={$info.id}</a>
						<br/>
						<a href="__APP__?m=Qiyue&c=about&a=info&id={$info.id}" target="_blank">__APP__?m=Qiyue&c=about&a=info&id={$info.id}</a>
			 </li>
		 </ul>
		 <script> var id="<?php echo $id?>";if(id!=""){$("#ul_qturl1111111").show();}</script>
         </div>
		 <div class="tab_page" style="display:none;">
		    <ul class="ul_info"><li class="li1">新密码：</li><li class="li2"><input type="text"  name="userpwd" id="userpwd"   class="txt1" value=""/><span class="ts_color">不填写不修爱密码</span></li></ul>
		    <ul class="ul_info"><li class="li1">二次密码：</li><li class="li2"><input type="text"  name="userpwd1" id="userpwd1"   class="txt1" value=""/></li></ul>
		    <ul class="ul_info"><li class="li1">有效期：</li><li class="li2"><input type="text"  name="youxiaoqi" id="youxiaoqi"   class="txt1" value="{$info.youxiaoqi}"/><span class="ts_color">格式为2015-07-19 23:15:22</span></li></ul>
			<ul class="ul_info"><li class="li1">有效次数：</li><li class="li2"><input type="text"  name="youxiaocishu" id="youxiaocishu"   class="txt1" value="{$info.youxiaocishu}"/></li></ul>

		 </div>
	  
    </div>
	
  <div class="info_bts">
    <div class="con">
     <?php 
       if(is_numeric($info[id])){
	 ?>
	 <input type="button" onclick="javascript:window.location='{$laiyuan}';"value="返回列表" class="bt" /><input type="submit" name="btsend" class="btsend" value="更新" /><input id="id" type="hidden" name="id" value="{$info.id}"/><input id="act" type="hidden" name="act" value="update"/> <input type="reset" value="重置" onclick="clearinput()" />
	<?php }else{ ?>
	
	<input type="button" onclick="javascript:window.location='{$laiyuan}';"value="返回列表" class="bt" /> <input type="submit" name="btsend" value="确定" class="btsend" /><input id="act" type="hidden" name="act" value="add"/> <input type="reset" value="重置" onclick="clearinput()" />
      <?php }?>
    </div>
  </div>


</form>
</div>
<!--主体结束-->
</div>
<div class="pagenav">{$show}</div>

</div>
<script>
$("#root").change(function(){
   if($(this).val()=="10"){
      $(".ul_dianming").show();
   }else{
     $(".ul_dianming").hide();
   }
});
if("{$info.root}"=="10"){
$(".ul_dianming").show();
}
$("#state").val('{$info.state}');

$("#root").val('{$info.root}');

function check(){
  var username=$("#username");
  var userpwd=$("#userpwd");
  var userpwd1=$("#userpwd1");
   var id=$("#id");
  if(username.val()==""){
	 alert("请输入用户名");
	 username.focus();
	 return false;
  }
  if(id.val()==""){
     if(userpwd.val()==""){
	  alert("请输入密码");
	  userpwd.focus();
	  return false;
	 }
     if(userpwd1.val()==""){
	  alert("请输入二次密码");
	  userpwd1.focus();
	  return false;
	 }
     if(userpwd.val()!=userpwd1.val()){
	  alert("二次密码不一致");
	  userpwd1.focus();
	  return false;
	 }
  }
   if(userpwd.val()!=userpwd1.val()){
	 alert("请输入密码");
	 //userpwd.focus();
	 return false;
  }
}
</script>
<include file="Public:foot" />
<include file="Public:footer"/>
</body>
</html>

