<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$webtitle}</title>
<include file="Public:head_exam" />
</head>
<body>

<div class="body">
<!--start-->
<div class="mybody_b" id="mybody_b">
<div class="curnav"><a  class="back" href="javascript:window.history.go(-1);"><em>d</em></a><center>{$mytitle}<span>（{$caption}）</span></center><a class="amenu">≡</a></div>
<div id="listscontent" class="listscontent" style="position:relative; width:100%; ">
</div>
</div>
<include file="Public:footer_exam_lists" />
<!--end-->
</div>
<include file="Public:footer_exam_texiao" />
</body>
</html>
